.header__lang-link {
  margin: 0 0 7px;
  font-size: 24px;
  line-height: calc(28/24);
  text-decoration: none;
  text-underline-offset: 5px;
  color: white;
}

@media (hover: hover) {
  .header__lang-link:hover {
    opacity: 80%;
  }
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: calc(20/18);
    text-underline-offset: 4px;
  }
}
