.place__image {
  width: 100%;
}

@media screen and (max-width: 560px) {
  .place__image {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 560px) {
  .place__image {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    margin-left: -16px;
    width: calc(100% + 32px);
  }
}

