@media screen and (max-width: 560px) {
  .section__content_sm_padded {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .section__content_sm_padded {
    padding-left: 16px;
    padding-right: 16px;
  }
}
