.cover__subtitle {
  margin: 32px 0 0;
  max-width: 360px;
  font-size: 18px;
  line-height: calc(22/18);
  text-align: center;
  pointer-events: none;
}

@media screen and (max-width: 560px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: calc(16/14);
  }
}
