.place__link {
  font-size: 18px;
  line-height: calc(22/18);
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

@media (hover: hover) {
  .place__link:hover {
    opacity: 80%;
  }
}
