.cover__title {
  margin: 0;
  max-width: 560px;
  text-align: center;
  font-size: 72px;
  line-height: calc(76/72);
  font-weight: 900;
  position: relative;
  z-index: 2;
  pointer-events: none;

}

@media screen and (max-width: 560px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: calc(35/32);
    width: calc(100% + 32px);
  }
}
