.place__url-heading {
  color: #aaa;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 12px;
}

@media screen and (max-width: 960px) {
  .place__url-heading {
    line-height: 1.0;
  }
}
